<!--p>{{title}} user</p-->
 
 <h2>List of books</h2>
 <!-->h2>List of books</h2>
 
 <ul>
     <!--let is a variable, like var-->
     <!--like foreach in laravel-->
     <!-- <li *ngFor = "let book of books" > -->
     <!-->li *ngFor = "let book of books" >
             {{book.title }} by {{book.author}}
     </li>
 
 </ul>
 </ul-->
 
 
 <mat-accordion>
         <mat-expansion-panel *ngFor = "let book of books">
           <mat-expansion-panel-header>
             <mat-panel-title>
               {{book.title}}
             </mat-panel-title>
           </mat-expansion-panel-header> 
           by {{book.author}}   
         </mat-expansion-panel>
 </mat-accordion>
